extends ../include/_layout
block var
  - metas = {}
  - metas.title = '宮城しごとドラフト | '+ title
  - metas.type = 'article'
  - metas.image = '../'
  - metas.url = 'draft/' + category
  - metas.ogp = 'draft/' + category + 'a.jpg'
  - metas.description = subtitle1
  - page = 'draft'
  - entry = 'https://zfrmz.com/yDP2YrEFTznFp52mS8ec'
block body
  .article
    include ../include/_header
    include ../include/_breadcrumb
    article.article__body
      b
        i(data-feather="map-pin")
        !=municipality
      h1
        span!=title
      img.article__body__cover(src="../../images/draft/" + category + "a.jpg")
      h2
        span!=subtitle1
      p!=body1
      img(src="../../images/draft/" + category + "b.jpg")
      h2
        span!=subtitle2
      p!=body2
      img(src="../../images/draft/" + category + "c.jpg")
      h2
        span!=subtitle3
      p.last-child
        !=body3
        br
        a(href=link) #{municipality}に移住相談をする
      a.article__button(href=entry target="_blank" rel="nofollow") しごとドラフトに参加する
      unless category=="042137"
        h2
          span 地域おこし協力隊とは
        p.last-child
          | 地域がかかえている課題解決をミッションとして地方に移住し、ミッションクリアのために地域ブランドや観光資源を活用した商品開発や情報発信、交流イベントの企画・運営などの活動を行います。
          br
          | ・活動期間は１年以上３年未満です。
          br
          | ・活動内容や条件、待遇等は各自治体によって異なります。
          br
          a(href="https://www.soumu.go.jp/main_sosiki/jichi_gyousei/c-gyousei/02gyosei08_03000066.html" target="_blank" rel="nofollow")
            | 「地域おこし協力隊」制度概要について
      table.article__table
        tbody
          tr
            th(colspan="2") 案件名
            td!=td1
          tr
            th(colspan="2") 勤務地
            td!=td2
          tr
            th(rowspan="3") 求人概要
            th 募集職種
            td!=td3
          tr
            th 業務内容
            td!=td4
          tr
            th 募集要件
            td!=td5
          tr
            th(colspan="2") 条件
            td!=td6
          tr
            th(colspan="2") その他
            td!=td7
      .article__link
        a(href="/draft/" + nextlink + ".html")
          | 次の求人を見る
          i(data-feather="arrow-right-circle")
    include ../include/_footer
