extends ../include/_layout
block var
  - metas = {}
  - metas.title = 'トップページ | 宮城まるごとオンライン移住フェア'
  - metas.type = 'website'
  - metas.image = '/'
  - metas.url = ''
  - metas.ogp = 'ogp.jpg'
  - metas.description = '宮城で暮らす、はたらくをわかりやすくご紹介！'
  //- page = 'home'
  - form = 'https://zfrmz.com/1TzfH8FUib5UftFIAoqJ'
  - form2 = 'https://zfrmz.com/oYUhSdcJNqOyQPYzqfGO'
  - scroll = '#home__section__stage'
block body
  .home
    include ../include/_header
    .home__cover
      h1
        img(src=metas.image + "images/home.png" alt=metas.title)
      img(src=metas.image + "images/window.png")
      p.home__cover__organizer
        | 主催：宮城県
        br
        | 共催：認定NPO法人ふるさと回帰支援センター
        br
        | 運営：シビレ株式会社
    #home__section__overview
      section.home__section.home__section__overview
        h2
          span
            | 宮城で暮らす、はたらくを
            br
            | わかりやすくご紹介！
        p.home__section__description
          | 今すぐ転職したい方、
          br
          | 宮城への移住になんとなく興味がある方など、
          br
          | どなたでもお気軽にお越しください。
        .home__section__overview__buttons
          -
              var linklist = [
                {
                  text: 'ステージイベント',
                  link: 'stage',
                },
                {
                  text: '宮城しごとドラフト',
                  link: 'draft',
                },
                {
                  text: 'Miyagi Meeting',
                  link: 'symposium',
                },
                {
                  text: '個別相談ブース',
                  link: 'consultation',
                },
              ]
          each item in linklist
            a.home__section__overview__button(href="#home__section__" + item.link)
              !=item.text
              i(data-feather="arrow-down-circle")
          input.modal__check#modal__check(type="checkbox")
          label.home__section__overview__label(for="modal__check") コンシェルジュ
          label(for="modal__check").overlay
          .modal
            h3
              span チャット機能のご紹介
            figure
              figcaption 右下のむすび丸チャットをクリック
              img(src=metas.image + "images/chat.png")
            p
              | 宮城県に興味はあるけど、どの市町村に相談したらよいのかわからない方や、宮城で暮らしてみたい方、イベントの内容や予約の方法など、気になることをチャットで相談！
              br
              | むずび丸チャットを開いて、お問合せ内容をクリック！
              br
              | 相談内容に応じてコンシェルジュが対応します。どんな些細なことでもお気軽にお問合せください。
        p.home__section__supplement
          | キーマン対談やしごとドラフトなど、宮城県への移住に役立つ各種コンテンツをご用意。
          br
          | 宮城県内全35市町村・企業と宮城県内企業が暮らしや仕事のことなどご案内します。どこの話を聞いたらいいかわからない方は、むすび丸チャットにお気軽にご相談ください。コンシェルジュがご案内します。
        a.home__section__link.home__section__link__blue(href="https://timerex.net/s/soudansbr/9889002b/" target="_blank" rel="nofollow")
          img(src=metas.image + "images/banner05.jpg" alt="宮城まるごと相談予約受付中")
        a.home__section__link(href="/files/about_event.pdf" target="_blank" rel="nofollow")
          img(src=metas.image + "images/banner01.jpg" alt="イベント完全ガイド")
    #home__section__present.home__scroll
      section.home__section.home__section__present
        h2
          span 参加者特典
        a.home__section__link(href="https://ijyufairbooth.pref.miyagi.jp/" target="_blank" rel="nofollow")
          img(src=metas.image + "images/banner02.jpg" alt="先着50名限定 事前予約で「宮城まるごと味わいセット」 プレゼント")
        p.home__section__supplement
          | 「
          a(href="https://ijyufairbooth.pref.miyagi.jp/" target="_blank" rel="nofollow") 個別相談ブース
          | 」に事前予約いただいた先着50名様に、
          br
          | 自宅にいながら宮城を味わうことができる「宮城まるごと味わいセット」をプレゼントします。
          br
          | イベント当日は、宮城の味を楽しみながら、是非ご参加ください！
          br
          //-| ※先着順のため、定員に達し次第終了します
          strong.red 定員に達しましたので、受付を終了しました。
        .home__section__registration
          include ../../svg/pictogram07.svg
          p
            strong 個別相談ブースへ予約する際に、会員登録が必要になります。
            | 会員登録をすると‥‥
            br
            | ・予約内容の確認
            br
            | ・相談URL（zoom）直接リンクボタンから直接相談ブースへ
            br
            | ・会員登録後、ログインするだけで複数ブース予約が可能
            br
            | 会員登録をして、たくさんの市町村とお話ししてみてください！
            br
            | 個別相談ブースへ予約する際に、会員登録が必要になります。
    #home__section__stage.home__scroll
      section.home__section.home__section__stage
        h2
          span ステージイベント
        .home__section__stage__body
          time.home__section__time(datetime="2021-02-13 13:00:00.000-14:00") 
            b
              span DAY
              span 1
            span
              | 2月
              span 13
              | 日(土) 
              span 13:00~14:00
          h3
            span 宮城の変革期を歩んだ二人が語る
            | 震災から10年被災地の新たな可能性を創造
          p
            | 震災から10年。これまでと未来について、想いを語る1時間。
            br
            | この10年間の取り組みや出来事、出会い、そして、これからの未来について、お二人にざっくばらんにお話いただきます。
          .home__section__stage__body__theme
            h4 トークテーマ
            ul
              li 震災から10年を迎えて
              li 震災後のこれまでの取り組みや想い
              li これからの宮城の可能性と宮城の未来予想
          -
              var speakerlist1 = [
                {
                  num: 0,
                  speaker: '南三陸町長 佐藤仁',
                  introduction: '1951年、宮城県南三陸町（旧志津川町）生まれ。<br />仙台商業高等学校在学時には、硬式野球部に所属し甲子園に出場。1992年旧志津川町議会議員に当選。2002年旧志津川町長に就任。2005年志津川町と歌津町の合併に伴い、初代南三陸町長に就任。現在4期目。2019年5月宮城県町村会長に就任。<br />1960年5月に発生したチリ地震津波による甚大な被害を教訓として、災害に強いまちづくりを推進するとともに、他に誇るべき豊かな自然と基幹産業である水産業を基軸に観光客の誘致促進を図るべく各種の事業を推進していた矢先、東日本大震災に見舞われた。',
                },
                {
                  num: 1,
                  speaker: '株式会社GRA 代表取締役CEO 岩佐大輝',
                  introduction: '1977年、宮城県亘理郡山元町生まれ。 24歳でＩＴベンチャーを起業。 現在日本およびインドで６つの法人のトップを務める。 2011年の東日本大震災後には、大きな被害を受けた故郷山元町の復興を目的にGRAを設立。 先端施設園芸を軸とした「地方の再創造」をライフワークとするようになる。 イチゴビジネスに構造変革を起こし、ひと粒1000円の「ミガキイチゴ」を生み出す。<br />著書に、『絶対にギブアップしたくない人のための 成功する農業』（朝日新聞出版・２０１８） 『甘酸っぱい経営』（株式会社ブックウォーカー・２０１５） 『99％の絶望の中に「1％のチャンス」は実る』（ダイヤモンド社・２０１４）',
                },
              ]
          each item in speakerlist1
            figure
              img(src="images/home/0" + item.num + ".jpg" alt=item.speaker)
              figcaption
                span!=item.speaker
                !=item.introduction
          a.home__section__button#home__section__day1(href=form target="_blank" rel="nofollow") ステージイベントDAY1に予約
        .home__section__stage__body
          time.home__section__time(datetime="2021-02-14 13:00:00.000-13:45") 
            b
              span DAY
              span 2
            span
              | 2月
              span 14
              | 日(日) 
              span 13:00~13:45
          h3
            span 宮城出身経営者トークセッション
            | 起業と事業継承 経営者が考える宮城のこれからの可能性
          p
            | 宮城県を軸に事業を展開されている企業の経営者 3 名によるトークセッション。
            br
            | 宮城県内出身の事業継承者と起業家の視点で、宮城の未来とそれぞれの事業の展開や構想について、ざっくばらんにお話いただきます。
            br
            | 経営者が見る宮城県のこれからの可能性や、宮城県だからこそできること、そして企業として取り組んでいることなどを聞いていただけます。
          .home__section__stage__body__theme
            h4 トークテーマ
            ul
              li 宮城だからできること／宮城のビジネスチャンス
              li 企業として取り組んでいること／今後の展開
              li 宮城のこれからの可能性／目指す未来
          -
              var speakerlist2 = [
                {
                  num: 2,
                  speaker: 'Green-Room株式会社 代表取締役 野伏龍寛',
                  introduction: '1978年、東京都生まれ。東北工業大学土木科を卒業後、飲食業界に入り、バーや高級クラブで経験を積み、独立を目指すが恩師の死をきっかけに介護業界転身。現場のニーズを捉え、訪問医療マッサージで起業。Green-Room株式会社を設立。代表取締役に就任。<br />訪問医療マッサージ事業、整骨院事業、整体院事業、リラクゼーション事業、障がい者グループホームを運営し、業界を変えるリーディングカンパニーを目指している。',
                },
                {
                  num: 3,
                  speaker: '株式会社ウジエスーパー 常務取締役 氏家良太郎',
                  introduction: '1983年、宮城県登米市生まれ。高校まで地元で育ち、その後、一念発起しイギリスに語学留学。英カレッジを卒業後、通信系の営業会社へ就職し5年間勤務。東日本大震災を機に、スーパーマーケットの仕事を固定観念でとらえるのではなく、生活者の近くに市場（イチバ）があることの価値を痛感。父である同社代表に頭を下げ、現職へ。スーパーマーケットの販売など様々な部署での経験を積む。ローカルスーパーは「D X（デジタル・トランスフォーメーション）」、「C X（カスタマー・エクスペリエンス）」の可能性の宝庫であると考え、既存間接業務効率アップに向けて取り組んでいる。',
                },
                {
                  num: 4,
                  speaker: '株式会社丸山運送 取締役専務執行役員 三浦大',
                  introduction: '1988年、宮城県多賀城市生まれ。大学卒業後、多数のアパレルブランドを全国展開する企業で副店長やアシスタントバイヤーとして活躍。その後、祖父が創業し、父 が代意表を務める株式会社丸山運送に入社。営業、マーケティングなど幅広い業務に携わり、2020年から丸山運送の取締役 専務執行役員に就任。運送、物流会社でありながら、新規事業としてコワーキングスペース「STUDIO080」の開業等、事業の多角化や人材育成に注力している。',
                },
              ]
          each item in speakerlist2
            figure
              img(src="images/home/0" + item.num + ".jpg" alt=item.speaker)
              figcaption
                span!=item.speaker
                !=item.introduction
          a.home__section__button#home__section__day2(href=form target="_blank" rel="nofollow") ステージイベントDAY2に予約
    #home__section__draft.home__scroll
      section.home__section.home__section__draft
        h2
          span 宮城しごとドラフト
        p.home__section__description
          | 「宮城で働きたい」あなたと「宮城で働いてほしい」企業とのマッチングイベント。
          br
          | あなたのことを市町村・企業担当者が直接スカウトします！
        time.home__section__time(datetime="2021-02-13 10:00:00.000-12:00") 
          b
            span DAY
            span 1
          span
            | 2月
            span 13
            | 日(土) 
            span 10:00~12:00

        include ../include/_entryflow
        h3
          span 気になる仕事を探してエントリー
        include ../include/_joblist

        a.home__section__button(href="/draft/") しごとドラフトはこちら
    #home__section__symposium.home__scroll
      section.home__section.home__section__symposium
        h2
          span
            | Miyagi Meeting
            br
            | 宮城にはまり隊!
        p.home__section__description
          strong.red 満員御礼! 定員に達したためエントリーを締め切りました。
          br
          | 地域と自分らしく関わりたい！そんな「あなたと地域の座談会」です。
          br
          | 海と山、両方あるのが宮城の魅力！ということで、さまざまな地域の人たちと、気軽に“おしゃべり”してみませんか？
          br
          | どこに移住するか決まっていない。そもそも移住するかどうかもまだ分からない。
          br
          | でも地域に何か関わりたい！ そんな漠然とした想いを持った方、大歓迎です。
        .home__section__symposium__schedule
          time.home__section__time(datetime="2021-02-13 14:00:00.000-15:00") 
            b
              span DAY
              span 1
            span
              | 2月
              span 13
              | 日(土) 
          time.home__section__time(datetime="2021-02-14 14:00:00.000-15:00") 
            b
              span DAY
              span 2
            span
              | 2月
              span 14
              | 日(日) 
          strong 両日: 14:00~15:00
        .home__section__symposium__banners
          a(href="javascript:void(0);" target="_blank" rel="nofollow")
            img(src=metas.image + "images/banner03.jpg" alt="しごと編")
          a(href="javascript:void(0);" target="_blank" rel="nofollow")
            img(src=metas.image + "images/banner04.jpg" alt="暮らし編")
        a.home__section__button(href="https://lp.sibire.co.jp/meeting" target="_blank" rel="nofollow") MiyagiMeetingはこちら

    #home__section__consultation.home__scroll.last-child
      section.home__section.home__section__consultation
        h2
          span 個別相談ブース
        p.home__section__description.last-child
          | 気になる市町村や仕事があれば、各市町村や企業に直接話が聞ける市町村ブースを訪問してみてください。
          br
          | いずれも参加人数が限られますので事前予約がおすすめです。
        ul.entry__flow.entry__flow__blue
          li
            include ../../svg/pictogram04.svg
            h3 まずは気になる市町村を探す
            p 「子育て」「教育」「住まい」など９つの気になるキーワードから検索！
            include ../../svg/arrow.svg
          li
            include ../../svg/pictogram05.svg
            h3 市町村の情報を集める
            p ３つのキーワードから気になる市町村の魅力を把握！動画や資料も確認しよう！
            include ../../svg/arrow.svg
          li
            include ../../svg/pictogram06.svg
            h3 気になる市町村を覗いてみよう
            p
              | ちょっと気になることがあったら、「個別相談ブース」で直接、話を聞いてみよう！
              br
              | 数分の相談から予約OK！自宅などから各市町村とつながってみよう！
        .home__section__overflow-x
          table.home__section__table
            thead
              tr
                th
                th
                  time.home__section__time(datetime="2021-02-13 13:00:00.000-17:00") 
                    b
                      span DAY
                      span 1
                    span
                      | 2月
                      span 13
                      | 日(土) 
                      span 13:00~17:00
                th
                  time.home__section__time(datetime="2021-02-14 13:00:00.000-17:00") 
                    b
                      span DAY
                      span 2
                    span
                      | 2月
                      span 14
                      | 日(日) 
                      span 13:00~17:00
            tbody
              tr
                th(rowspan="2") 市町村
                td 塩竈市 / 名取市 / 角田市 / 多賀城市 / 岩沼市 / 富谷市 / 蔵王町 / 七ヶ宿町 / 大河原町 / 村田町 / 七ヶ浜町 / 大和町 / 大衡村 / 色麻町 / 涌谷町 / 女川町
                td 石巻市 / 気仙沼市 / 登米市 / 柴田町 / 川崎町 / 丸森町 / 亘理町 / 山元町 / 松島町 / 利府町 / 大郷町 / 美里町
              tr
                td.center(colspan="2") 仙台市 / 白石市 / 栗原市 / 東松島市 / 大崎市 / 加美町 / 南三陸町
              tr
                th(rowspan="2") 企業
                td 株式会社田伝むし / 株式会社くりこまくんえん
                td 株式会社スリーデイズ / 株式会社アグリテック
              tr
                td.center(colspan="2") 株式会社花山サンゼット / 株式会社はなぶさ

        a.home__section__button(href="https://ijyufairbooth.pref.miyagi.jp/" target="_blank" rel="nofollow") 個別相談ブースはこちら
        p.home__section__supplement__thin
          | 各市町村・企業の個別相談ブース予約受付時間は開始15分前までです。
    include ../include/_footer
